.textNoTournament {
    text-align: center;
    color: var(--color-light);
}

.formContainer {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: var(--color-dark);
    padding: 50px;
    border: 1px solid var(--color-light);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.createTournamentForm {
    flex-basis: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 2px;
}

.createTournamentForm label {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
}

.createTournamentForm input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    margin-bottom: 15px;
}

.createTournamentForm input.inputValid {
    border: 2px solid #34eb5b;
}

.createTournamentForm input.inputInvalid {
    border: 2px solid #ed3a2d;
}

.createTournamentForm select {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    margin-bottom: 15px;
    font-size: inherit;
}

.buttonContainer {
    width: 100%;
    text-align: center;
}

.createTournamentForm button {
    width: 120px;
    padding: 12px;
    cursor: pointer;
    color: var(--color-light);
    background-color: var(--color-orange);
    border: 2px solid transparent;
    border-radius: 2px;
}

.invalid {
    color: #ed3a2d;
    margin-bottom: 15px;
    padding: 4px;
}

@media screen and (max-width: 768px) {
    .formContainer {
        padding: 25px;
    }

    .createTournamentForm {
        flex-basis: 100%;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .createTournamentForm {
        flex-basis: 60%;
    }
}