.tabs {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-bottom: 5px;
    border-bottom: 2px solid #303030;
}

@media screen and (max-width: 768px) {
    .tabs {
        height: 40px;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tabs {
        height: 45px;
    }
}