.playContainer button {
    padding: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2px;
}

.matchesContainer {
    text-align: center;
    margin: 20px 0;
}

.tournamentInfo {
    display: flex;
}

.tournamentInfo .tournamentName {
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 25px 12px;
    border-left: 1px solid #F7F7F7;
}

.tournamentInfo .tournamentSeries {
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 25px 12px;
    border-left: 1px solid #F7F7F7;
}

.matchesContainer .textHeadings {
    font-size: 1.25rem;
    padding: 20px;
}

.nextRoundContainer .nextRoundHeading {
    font-size: 1.15rem;
    padding: 15px;
    font-weight: normal;
}

.nextRoundContainer .nextRoundMatch {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-evenly;
    padding: 12px;
    border: 2px solid #F7F7F7;
}

.nextRoundContainer .nextRoundMatch span {
    flex-basis: 200px;
}

.roundContainer {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.roundContainer .round {
    flex-basis: 350px;
    flex-shrink: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.roundContainer .round.roundHeading {
    font-size: 1.15rem;
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #F7F7F7;
}

.roundContainer .round .match {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #F7F7F7;
    border: 1px solid #303030;
    color: #303030;
}

.roundContainer .round .match .matchPlayer {
    display: flex;
}

.roundContainer .round .match .matchPlayer span {
    text-align: left;
}

.roundContainer .round .match .matchPlayer :nth-child(1){
    flex-basis: 150px;
}

.roundContainer .round .match .matchPlayer :nth-child(2){
    flex-basis: 50px;
}

.roundContainer .round .match .matchPlayer :nth-child(3){
    flex-basis: 100px;
    color: #919191;
}

.roundContainer .round .match .matchPlayer :nth-child(3) span {
    margin: 0 6px;
}

.roundContainer .round .match .matchPlayer.loser {
    color: #919191;
}