.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px;
}

@media screen and (max-width: 768px) {
    .tabs {
        height: 40px;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tabs {
        height: 45px;
    }
}