.matchContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 2px solid var(--color-light);
    padding-left: 20px;
    margin: 50px 10px;
}

.match {
    flex-basis: 55%;
}

.badge {
    flex-basis: 49%;
    flex-grow: 1;
    padding: 15px;
    margin: 1px;
    color: #303030;
    background-color: #F7F7F7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge.Win {
    background-color: rgb(0, 153, 0);
    color: #F7F7F7;
}

.badge.Lost {
    background-color: rgb(255, 19, 19);
    color: #F7F7F7;
}

.round {
    flex-basis: 49%;
    flex-grow: 1;
    padding: 15px;
    margin: 1px;
    color: #303030;
    background-color: #F7F7F7;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.tournamentName {
    flex-basis: 49%;
    flex-grow: 1;
    padding: 15px;
    margin: 1px;
    color: #303030;
    background-color: #F7F7F7;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.tournamentSeries {
    flex-basis: 49%;
    flex-grow: 1;
    padding: 15px;
    margin: 1px;
    color: #303030;
    background-color: #F7F7F7;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .match {
        flex-basis: 95%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .match {
        flex-basis: 80%;
    }
}