.sortFilterContainer {
    flex-basis: 30%;
    background-color: var(--color-dark-lighter);
    color: var(--color-light);
    padding: 25px;
    border-radius: 3px;
    margin: 15px;
}

.positionSticky {
    position: sticky;
    top: 0;
    left: 0;
}

.matchesContainer {
    flex-basis: 70%;
    background-color: var(--color-dark-lighter);
    color: var(--color-light);
    border-radius: 3px;
    margin: 15px;
}

.matchesList {
    padding: 25px;
    min-height: 50vh;
}

.heading {
    text-align: center;
    padding: 25px;
}

.matchContainer {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .matchesList {
        padding: 15px;
    }

    .matchContainer {
        margin: 15px;
        border: 1px solid #303030;
    }

    .match :first-child {
        margin: 0;
    }

    .round {
        margin: 0;
    }

    .tournamentName {
        margin: 0;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .matchesList {
        padding: 30px;
    }
}