.playersRanks {
    padding: 25px;
    font-size: 1.2rem;
    text-align: center;
}

.rankHeaders {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.rankHeaders span {
    padding: 15px;
    flex-basis: 250px;
}

.rankRanks {
    display: flex;
    justify-content: space-around;
}

.rankRanks > * {
    padding: 15px;
    flex-basis: 250px;
}

.gainRank, .gainPoints {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(21, 255, 21);
}

.loseRank, .losePoints {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 43, 43);
}

.playersRanks:nth-child(2) > :nth-child(even) {
    background-color:#0062FF;
    color: #F7F7F7;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .playersRanks {
      font-size: 0.9rem;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .playersRanks {
        font-size: 1.1rem;
    }
}