.playersRanks {
    flex-basis: 100%;
    margin: 25px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-darker);
    border: 2px solid var(--color-dark);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.rankHeaders {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.rankHeaders span {
    padding: 15px;
    flex-basis: 250px;
}

.rankRanks {
    display: flex;
    justify-content: space-around;
}

.rankRanks > * {
    padding: 15px;
    flex-basis: 250px;
}

.gainRank, .gainPoints {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #009e00;
}

.loseRank, .losePoints {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a91515;
}

.playersRanks > :nth-child(odd) {
    background-color:var(--color-gray);
    border-radius: 2px;
}

.playersRanks > :nth-child(even) {
    background-color:var(--color-light);
    border-radius: 2px;
}

.playersRanks > :first-child {
    background-color:var(--color-darker);
    color: var(--color-light);
}

@media screen and (max-width: 768px) {
    .playersRanks {
      font-size: 0.9rem;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .playersRanks {
        font-size: 1.1rem;
    }
}