.tournamentCard {
    flex-basis: 170px;
    height: 240px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-light);
    color: var(--color-dark);
    margin: 6px;
}

.tournamentName {
    font-size: 1.1rem;
    border-bottom: 2px solid var(--color-dark);
    width: 99%;
    padding: 12px;
    text-align: center;
}

.tournamentSeries {
    font-size: 1.08rem;
    padding: 12px;
    align-self: center;
}

.tournamentWinner {
    font-size: 1.08rem;
    font-weight: bold;
    padding: 12px;
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .tournamentCard {
        flex-basis: 130px;
    }

    .tournamentName {
        font-size: 0.95rem;
    }

    .tournamentSeries {
        font-size: 0.9rem;
    }

    .tournamentWinner {
        font-size: 0.9rem;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tournamentCard {
        flex-basis: 140px;
        height: 190px;
    }

    .tournamentName {
        font-size: 1rem;
    }

    .tournamentSeries {
        font-size: 0.95rem;
    }

    .tournamentWinner {
        font-size: 0.95rem;
    }
}