.tournamentCard {
    flex-basis: 200px;
    flex-grow: 1;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F7F7;
    color: #303030;
    margin: 6px;
}

.tournamentName {
    font-size: 1.1rem;
    border-bottom: 2px solid #303030;
    width: 99%;
    padding: 12px;
    text-align: center;
}

.tournamentSeries {
    font-size: 1.08rem;
    padding: 12px;
    align-self: flex-start;
}

.tournamentWinner {
    font-size: 1.08rem;
    font-weight: bold;
    padding: 12px;
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .tournamentName {
        font-size: 1rem;
    }

    .tournamentSeries {
        font-size: 0.98rem;
    }

    .tournamentWinner {
        font-size: 0.98rem;
    }

    .tournamentCard {
        flex-basis: 150px;
        height: 250px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tournamentCard {
        flex-basis: 175px;
        height: 275px;
    }
}