@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-darker);
}

input, textarea, button {
  font-size: inherit;
  font-family: inherit;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
}



/* 
COLORS VARIABLES
*/

:root {
  --color-dark-lighter: #464646;
  --color-dark: #303030;
  --color-darker: #202020;
  --color-light: #F7F7F7;
  --color-orange: #ff9335;
  --color-gray: #e6e6e6;
}