.nextRoundMatch {
    display: flex;
    width: 85%;
    margin: 12px auto;
    justify-content: space-evenly;
    padding: 12px;
    border: 1px solid var(--color-darker);
    border-radius: 3px;
}

.nextRoundMatch span {
    flex-basis: 200px;
}

@media screen and (max-width: 768px) {
    .nextRoundMatch {
      width: 100%;
    }
}