.tournamentInfo {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    margin-bottom: 50px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 2px solid var(--color-darker);
    border-radius: 3px;
}

.tournamentInfo .tournamentName {
    text-align: center;
    font-weight: normal;
    padding: 25px 12px;
}

.tournamentInfo .tournamentSeries {
    text-align: center;
    font-weight: normal;
    padding: 25px 12px;
}

@media screen and (max-width: 768px) {
    .tournamentInfo {
      font-size: 1rem;
      padding: 15px;
      margin: 5px;
      margin-bottom: 0;
    }

    .tournamentInfo .tournamentName {
        padding: 5px;
    }
    
    .tournamentInfo .tournamentSeries {
        
        padding: 5px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tournamentInfo {
        font-size: 1.2rem;
    }
}