.match {
    padding: 25px;
    margin: 10px;
    background-color: var(--color-dark);
    border-radius: 50px;
    color: var(--color-light);
}

.match .matchPlayer {
    display: flex;
}

.match .matchPlayer span {
    text-align: left;
}

.match .matchPlayer .playerName {
    flex-basis: 150px;
}

.match .matchPlayer .playerSetsWon {
    flex-basis: 50px;
}

.match .matchPlayer .playerGemsWon {
    flex-basis: 100px;
    text-align: right;
    color: #919191;
}

.match .matchPlayer .playerGemsWon span {
    margin: 0 6px;
}

.match .matchPlayer .playerPoints {
    flex-basis: 50px;
}

.match .matchPlayer .playerCurrentGems {
    flex-basis: 50px;
}

.match .matchPlayer.loser {
    color: #919191;
}