.container-100 {
    width: 100%;
    margin: 0 auto;
}

.container-75 {
    width: 75%;
    margin: 0 auto;
}

.sidebarContainer {
    display: flex;
    min-height: 84vh;
    border-radius: 3px;
}

.sidebarTabs {
    display: flex;
    min-width: 16%;
    flex-direction: column;
    background-color: var(--color-light);
    border: 1px solid var(--color-darker);
    padding-top: 25px;
    border-radius: 3px;
}

.sidebarContent {
    display: flex;
    width: 84%;
    flex-grow: 1;
    border: 1px solid var(--color-darker);
    border-radius: 3px;
    background-color: var(--color-light);
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    .sidebarContainer {
        flex-direction: column;
    }

    .sidebarContent {
        width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .sidebarContainer {
        flex-direction: column;
    }

    .sidebarContent {
        flex-direction: column;
    }

    .sidebarContent {
        width: 100%;
    }

    .sidebarTabs {
        padding: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1360px) {
}