.filterForm {
    width: 75%;
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    margin: 5px auto;
    padding: 12px;
    border-bottom: 2px solid var(--color-light);
}

.filtersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filterForm p {
    padding: 12px;
    margin: 5px;
}

.groups {
    font-size: 1rem;
}

p.groupName {
    padding: 8px;
    margin: 2.5px;
}

@media screen and (max-width: 768px) {
    .filterForm {
        border-bottom: none;
        padding: 4px;
    }

    .filterForm p {
        padding: 8px;
    }

    p.groupName {
        padding: 6px;
    }

    .groups {
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .filterForm p {
        padding: 10px;
    }

    p.groupName {
        padding: 8px;
    }
}