.paginationLinksContainer {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 20px 100px;
    border: 1px solid var(--color-dark);
    border-radius: 3px;
    text-align: center;
    overflow: auto;
    margin: 0 auto;
}

span.paginationLink {
    color: var(--color-dark);
    cursor: pointer;
    padding: 10px;
    margin: 0 8px;
}

span.activePaginationLink {
    color: rgb(112, 112, 112);
    text-decoration: underline;
    text-decoration-color: var(--color-dark);
}