.sortForm {
    width: 35%;
    background-color: #303030;
    color: #F7F7F7;
    text-align: center;
    margin: 5px auto;
    padding: 14px;
}

@media screen and (max-width: 768px) {
    .sortForm {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .sortForm {
        width: 50%;
    }
}