.tab {
    flex-grow: 1;
    transition: background-color 0.3s;
    background-color: #428bff;
    color: #F7F7F7;
    padding: 15px;
    margin: 0 0.5px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

.selectedTab {
    background-color:#0051d3;
}

@media screen and (max-width: 768px) {
     .tab {
      font-size: 0.9rem;
      padding: 10px;
    }

    .playerTab {
        height: 4vh;
      }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tab {
        font-size: 1rem;
        padding: 12px;
    }

    .playerTab {
        height: 5vh;
    }
}