.tab {
    height: 100%;
    transition: background-color 0.3s;
    background-color: #428bff;
    color: #F7F7F7;
    padding: 15px;
    flex-basis: 200px;
    margin: 0 0.5px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.selectedTab {
    background-color:#0062FF;
}

.playerTab {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    margin-bottom: 5px;
}

.playerTab:hover {
    background-color: #0062FF;
    color: #F7F7F7;
    border: 2px solid #303030;
    border-radius: 2px;
}

.playerTab.playerSelectedTab {
    background-color: #0062FF;
    color: #F7F7F7;
    border: 2px solid #303030;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
     .tab {
      font-size: 0.9rem;
      flex-basis: 130px;
      padding: 10px;
    }

    .playerTab {
        height: 6vh;
      }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tab {
        font-size: 1rem;
        flex-basis: 150px;
        padding: 12px;
    }

    .playerTab {
        height: 7vh;
    }
}