.tab {
    transition: background-color 0.3s;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 12px;
    margin: 6px 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

.selectedTab {
    background-color: var(--color-orange);
    color: var(--color-light);
}

@media screen and (max-width: 768px) {
     .tab {
      font-size: 0.9rem;
      padding: 10px;
    }

    .playerTab {
        height: 4vh;
      }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tab {
        font-size: 1rem;
        padding: 12px;
    }

    .playerTab {
        height: 5vh;
    }
}